{% extends 'core/base.html' %}

{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for core in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img src="https://via.placeholder.com/150x100" alt="Card" class="card-img-top">
                        <div class="card-body">
                            <h4><a href="{{ core.get_absolute_url }}">{{ core.title }}</a></h4>
                            <p class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ post.get_absolute_url }}" class="btn btn-sm btn-outline-primary" role="button">View</a>
                                </div>
                                <div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}